html{
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 2300px;
    
    font-family: Arial, Helvetica, sans-serif!important;
    
}

@font-face {
    font-family: raleway;
    src: url(./fontes/Poppins-ExtraLight.ttf);
  }

  @font-face {
    font-family: ralewayB;
    src: url(./fontes/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: ralewayb;
    src: url(./fontes/Poppins-Light.ttf);
  }
header{
    background-color: rgb(27, 27, 27);
    height: 6vw;
    width: 100%;
    float: left;
    margin: 0 auto;
    font-family: raleway;
    border-bottom: 04px solid #070707;
    max-height: 250px;
    min-height: 150px;
    
    }
    .logo{
        width:50vw;
        float:left;
        position: relative;
        margin-top: 20px;
        margin-left: 130px;
        max-width: 400px;
        margin-right: 5vw;
        }
        .menu{
            display:inline-flex;
            width: 10%;
            position: relative;
            text-align:center;
            margin-top: 70px;
            display: flex;
         
          
            color: white;
           
            }
    .roupas{
        height: 80vw;
        background-color: #f0f0f0;
        max-height: 4050px;
        border: 2PX SOLID BLUE;
        height: 180vw;
    }
    h2{
        
        color: #ba6e2d;
        text-align: center;
    }
    #gpslogo{
        width: 230px;
    }
    h1{
        margin-left: 30px;
        
       margin-right:calc(-250px + 8vw);
        font-weight:lighter;
        cursor: pointer;
        font-size: 22px;
        transition: all .2s ease-in-out;
        color: white;
        border: none;
        border-bottom: transparent;
        padding:0px;
        margin-left: 8vw;
    }
    h1:hover{
        transform: scale(1.35);
        color: #ba6e2d;
    
    
    
    }
    h2{ 
        
         font-family: ralewayB;

    }
    .select{
        float: left;
        height: 16vw;
        margin-top: 120px;
        width: 13vw;
        background-color: rgb(255, 255, 255);
        margin-left: 70px;
        border: 3px solid grey;
        font-family: ralewayb;
        max-height: 340px;
        max-width: 320px;
    }
    
    .select form{
        margin-left: 10px;
        
    }
    .select label{
        margin-top:15px;
        display:inline-block;

    
    }
    .itemsBox{
        height: 60vw;
        width: 80vw;
        background-color: #f0f0f0;
      
        float: right;
       display:flex;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 3750px;
        max-width: 80%;
    }
    .camaCasa{
        height: 23vw;
        width: 14vw;
        border: 4px solid #ba6e2d;
        margin:80px;
        max-height: 400px;
        max-width: 300px;
        box-shadow: 0 20px 20px 0 rgb(125 144 165), 0 0 0 1px #aebedf;
        display: inline-block;
      

    }
    .arranhador{
        height: 23vw;
        width: 14vw;
        border: 4px solid #ba6e2d;
        margin:80px;
        max-height: 400px;
        max-width: 300px;
        box-shadow: 0 20px 20px 0 rgb(125 144 165), 0 0 0 1px #aebedf;
        display: inline-block;
      

    }
    .brinquedo{
        height: 23vw;
        width: 14vw;
        border: 4px solid #ba6e2d;
        margin:80px;
        max-height: 400px;
        max-width: 300px;
        box-shadow: 0 20px 20px 0 rgb(125 144 165), 0 0 0 1px #aebedf;
        display: inline-block;
      

    }
    .roupa{
        height: 23vw;
        width: 14vw;
        border: 4px solid #ba6e2d;
        margin:80px;
        max-height: 400px;
        max-width: 300px;
        box-shadow: 0 20px 20px 0 rgb(125 144 165), 0 0 0 1px #aebedf;
        display: inline-block;
      

    }
    .racao{
        height: 23vw;
        width: 14vw;
        border: 4px solid #ba6e2d;
        margin:80px;
        max-height: 400px;
        max-width: 300px;
        box-shadow: 0 20px 20px 0 rgb(125 144 165), 0 0 0 1px #aebedf;
        display: inline-block;
      

    }
    .contato{
        margin-top:0vw;
        width: 100%;
        height:calc(1400px - 60vw);
        max-height: 450px;
        background-color: rgb(18, 18, 19);
        float: left;
        text-align: center;
        min-height: 420px;
    }
    h8{
  
    position:absolute;
    font-size: 12px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    float: left;
    
    }
    .endLogo{
        margin-top:100px;
        width: 30vw;
        max-width: 600px;
        min-width: 500px;
     
    }
    #imgBox{
        width: 06vw;
        height: 13vw;
        margin-left: 30%;
        margin-top: -20px;
       
    }
    #imgBox1{
        width: 10vw;
        height: 13vw;
        margin-left: 14%;
    }
    #imgBox2{
        width: 10vw;
        height: 13vw;
        margin-left: 15%;
    }
    #imgBox3{
        width: 08vw;
        height: 13vw;
        margin-left: 20%;
       
    }
    #imgBox4{
        width: 07vw;
        height: 12vw;
        padding-bottom: 1vw;
        margin-left: 25%;
    }
    #imgBox5{
        width: 07vw;
        height: 12vw;
        padding-bottom: 1vw;
        margin-left: 25%;
        margin-top: 30px;
    }

    #imgBox6{
        width: 11vw;
        height: 12vw;
        padding-bottom: 1vw;
        margin-left: 10%;
        margin-top: 30px;
    }
    #imgBox7{
        width: 07vw;
        height: 12vw;
        padding-bottom: 1vw;
        margin-left: 25%;
        margin-top: 20px;
    }
    #imgBox8{
        width: 12vw;
        height: 10vw;
        padding-bottom: 3vw;
        margin-left: 5%;
        margin-top: 30px;
    }
    #imgBox9{
        width: 12vw;
        height: 10vw;
        padding-bottom: 3vw;
        margin-left: 5%;
        margin-top: 30px;
    }






    #boxtext{
        width: 14vw;
        height: 6.9vw;
        background-color: rgb(27, 27, 27);
       
    }
    #boxtext1{
        width: 14vw;
        height: 7.9vw;
        background-color: rgb(27, 27, 27);
       margin-top: -20px;
    }

    #boxtext2{
        width: 14vw;
        height: 7.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -20px;
    }

    #boxtext3{
        width: 14vw;
        height: 7.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -20px;
    }
    #boxtext{
        width: 14vw;
        height: 7.9vw;
        background-color: rgb(27, 27, 27);
       
    }
     #boxtext4{
        width: 14vw;
        height: 7.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -20px;
    }
    #boxtext5{
        width: 14vw;
        height: 6.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -30px;
       
    }
    #boxtext6{
        width: 14vw;
        height: 6.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -30px;
       
    }
    #boxtext7{
        width: 14vw;
        height: 6.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -20px;
       
    }
    #boxtext8{
        width: 14vw;
        height: 6.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -30px;
       
    }
    #boxtext9{
        width: 14vw;
        height: 6.9vw;
        background-color: rgb(27, 27, 27);
        margin-top: -30px;
       
       
    }

h3{
font-family: ralewayB;
color: #ba6e2d;
text-align: center;
}

p1{
font-family: ralewayb;
color: #ba6e2d;
text-align: center;
width: 100%;
float: right;
margin-top: 20px;
}



