
body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 2300px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
@font-face {
    font-family: raleway;
    src: url(./fontes/Raleway-Italic-VariableFont_wght.ttf);
  }

.logo{
width:400px;
float:left;
position: relative;
margin-top: 10px;
margin-left: 200px;
}
header{
background-color: rgb(27, 27, 27);
height: 160px;
width: 100%;
float: left;
margin: 0 auto;
font-family: raleway;
border-bottom: 4px solid #ba6e2d;

}
.menu{
display:inline-flex;
width: 30%;
position: relative;
text-align:center;
margin-top: 80px;
left: -3%;
margin-left: 140px;
color: white;

}

h1{
    margin-left: 55px;
    font-weight:lighter;
    cursor: pointer;
    font-size: 25px;
    transition: all .2s ease-in-out;
}
h1:hover{
    transform: scale(1.35);
    color: #ba6e2d;


}
.intro{
    background-color: red;
    height: 600px;
    width: 100%;
    float: left;
    position: relative;

}
.redesSociais{
    width: 50px;
    margin-left: 150px;
    position: relative;
    transition: all .2s ease-in-out;
}
.redesSociais:hover{
    transform: scale(1.35);
}