
body{
width: 100%;
height: 100%;
margin: 0 auto;
}

.logo{
width:270px;
float:left;
position: relative;
margin-top: 10px;
margin-left: 100px;
}
header{
background-color: rgb(27, 27, 27);
height: 200px;
width: 100%;
float: left;

}
.menu{
display:inline-flex;
width: 30%;
position: relative;
text-align:center;
margin-top: 100px;
height:200px;
margin-left: 240px;
color: white;
}
h1{
    padding: 20px;
}